/* ================================================= */
/* 1) SELECTORS */
/* ================================================= */
.header { color: red; }
h1 { color: blue; }
#two { color: green; }



/* ================================================= */
/* 2) WIDTH / HEIGHT / BACKGROUND */
/* ================================================= */
div {
    width: 50%;
    height: 200px;
    background-color: rgb(75, 7, 75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ================================================= */
/* 3) BOX MODEL */
/* ================================================= */
.box-model {
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin: 20px;
    padding: 20px;
}



/* ================================================= */
/* 4) BACKGROUND IMAGE */
/* ================================================= */
.bg-image {
    height: 300px;
    background-image: url(photo-1472289065668-ce650ac443d2.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50% 100%;
}



/* ================================================= */
/* 5) BOX SIZING */
/* ================================================= */
.box-sizing {
    width: 150px;
    height: 150px;
    background-color: blue;
    padding: 15px;
    box-sizing: border-box;
    color: white;
}



/* ================================================= */
/* 6) DISPLAY */
/* ================================================= */
.display-example {
    background-color: aqua;
    display: inline-block;
    padding: 20px;
    width: 300px;
    height: 200px;
}



/* ================================================= */
/* 7) BOX SHADOW */
/* ================================================= */
.shadow {
    width: 150px;
    box-shadow: 11px 12px 7px 6px red;
}



/* ================================================= */
/* 8) POSITION */
/* ================================================= */
body { min-height: 3000px; }

.parent {
    width: 50%;
    height: 300px;
    background-color: gray;
    margin-top: 50px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    background-color: red;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}

.two {
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.sticky {
    background-color: green;
    position: sticky;
    top: 10px;
    color: white;
}



/* ================================================= */
/* 9) PSEUDO CLASSES */
/* ================================================= */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:active {
    text-decoration: line-through;
}

input:focus {
    border: 5px solid black;
}



/* ================================================= */
/* 10) TRANSITION */
/* ================================================= */
.transition-box {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 1s ease, height 1s;
}

.transition-box:hover {
    width: 400px;
    height: 100px;
}



/* ================================================= */
/* 11) ANIMATION (SPINNER) */
/* ================================================= */
.loader {
    width: 100px;
    height: 100px;
    border: 20px solid black;
    border-top-color: white;
    border-radius: 50%;
    animation: loading 1s linear infinite;
    background-color: white;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes loading {
    to { 
        transform: rotate(360deg); 
    }
} */



/* ================================================= */
/* 12) FLEXBOX */
/* ================================================= */
.parent-flex {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.child {
    width: 100px;
    height: 50px;
    background-color: red;
    margin: 5px;
}



/* ================================================= */
/* 13) COLOR ANIMATION */
/* ================================================= */
.color-animation {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 20px;
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    from {
        background-color: black;
    }

    to {
        background-color: green;
    }
}
