.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}